# machine-specific config files
.htaccess
.htpasswd 

# nano, emacs backups
*~

# media
media/*.*

# macos
.DS_Store

# bash 
static/bash/backup
static/bash/sync
static/bash/log/*log

# php composer
static/php/vendor
